$default-font-size: 1.6rem;

$color-white: #fff;
$color-grey: #333;
$color-black: #000;

$color-primary: #55c57a;
$color-secondary: #a0deb5;
$color-secondary-dark: #ff7730;
$color-grey-dark: #777;
$color-grey-dark-2: #999;