html {
  font-size: 62.5%; 

  @include respond(tab-land) { 
      font-size: 56.25%; 
  }

  @include respond(tab-port) { 
      font-size: 50%; 
  }
  
  @include respond(big-desktop) {
      font-size: 75%; 
  }
}

body {
    background-image: linear-gradient(#41be62, #14391e);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul{
    list-style: none;
    padding: 0;
}